.header {
    transform: skew(0, -5deg) translateY(-90px);
    background-color: black;
    height: 150px;
    width: 100%;
}

.fixed {
    position: fixed;
}

.content {
    position: relative;
}

.col {
    display: inline-block;
}