<div class="rotate" style="text-align: center;">
  <svg height="400" width="400" style="background-color: black;">
    <polygon points="200,20 50,380 380,130 20,130 340,380" style="fill:silver; fill-rule:nonzero;" />
    <polygon [attr.points]="coordsToString2(75)" style="fill:gray;" />
    <polygon [attr.points]="coordsToString2(50)" style="fill:silver;" />
    <polygon [attr.points]="coordsToString2(25)" style="fill:darkorange;" />
    <text x="200" y="20" fill="white">1</text>
    <text x="20" y="115" fill="white">2</text>
    <text x="380" y="115" fill="white">3</text>
    <text x="50" y="380" fill="white">4</text>
    <text x="340" y="380" fill="white">5</text>
  </svg>
</div>